.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: Max(20px, 7rem);
    padding-right: Max(20px, 7rem);
    max-width: 1440px;
    @include respondMax('mobile2x') {
        padding: 0 4rem;
    }
    @include respondMin('desktop3x') {
        padding: 0;
    }
}