%link-16 {
  font-size: max(16px, 1.6rem);
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  line-height: 1.2;
}

%paragraph-16 {
  font-size: max(14px, 1.6rem);
  line-height: max(20px, 2.4rem);
  font-family: 'Manrope', sans-serif;
}

%paragraph-18 {
  font-size: max(14px, 1.8rem);
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

%paragraph-20 {
  font-size: max(14px, 2rem);
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

%paragraph-40 {
  font-size: 3.2rem;
  line-height: 5rem;
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
  @include respondMax('mobile3x') {
    font-size: Max(16px, 2rem);
    line-height: Max(24px, 3rem);
  }
}

%header-100 {
  font-size: 10rem;
  font-weight: 800;
  @include respondMax('mobile3x') {
    font-size: 4rem;
  }
}

%header-24 {
  font-size: 2.4rem;
  font-weight: 700;
}

%header-32 {
  font-size: 3.2rem;
  font-weight: 700;
}

%header-40 {
  font-size: 4rem;
  font-weight: 800;
}

%header-46 {
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 6.25rem;
  @include respondMax('mobile3x') {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }
}

%header-80 {
  font-size: 8rem;
  font-weight: 800;
}
