%paragraph-16 {
  font-size: max(12px, 1.6rem);
  font-weight: 400;
  line-height: max(18px, 2.4rem);
  font-family: 'Manrope', sans-serif;
}

%paragraph-18 {
  font-size: max(14px, 1.8rem);
  font-weight: 400;
  font-family: 'Manrope', sans-serif;
}

%header-100 {
  font-size: 10rem;
  font-weight: 800;
  @include respondMax('mobile3x') {
    font-size: 4rem;
  }
}

%header-48 {
  font-weight: 700;
  font-size: 4.8rem;
}

%header-150 {
  font-weight: 700;
  font-size: 15rem;
  // font-size: clamp(3rem, 17vh, 10vw);
  @include respondMax('mobile2x') {
    font-size: 9rem;
  }
}

%header-230 {
  font-weight: 700;
  font-size: 23rem;
  font-size: clamp(5rem, 26vh, 16vw);
}
