%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%container {
  width: 100vw;
  margin-inline: auto;
  padding-left: 6rem;
  padding-right: 6rem;
  @include respondMax('tablet') {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

%flex-ac {
  display: flex;
  align-items: center;
}

%flex-ac-jb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
